<div class='panel panel-primary'>
    <div class='panel-heading'>
        <span> {{pageTitle}} </span> <span *ngIf="product">: {{product.productName}}</span>
    </div>
</div>


<div class='panel-body'>
    <div class='table-responsive'>
        <table class='table'>
            <tbody>
            <tr *ngIf="product">
                <td width="200 px"><img [src]="product.imageUrl"
                         [title]="product.productName"
                         [style.width.px]="150"
                         [style.margin.px]="2">
                </td>
                <td>
                    <span class="text-uppercase" style="font-size: 24px;">{{ product.productName }}</span><br>
                    <span>{{ product.description }}</span><br/>
                    <br/>
                    <span>{{ product.productCode  | lowercase}}</span> <br/>
                    <span>{{ product.releaseDate }}</span><br/>
                    <br/>
                    <span>{{ product.price | currency:'EUR': true:'1.2-2'}}</span><br/>
                    <rating-star [rating]='product.starRating'></rating-star>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<div class="panel-footer">
    <a class="btn btn-default" (click)="onBack()" style="width: 80px">
        <i class="glyphicon glyphicon-chevron-left"></i>
    </a>
</div>
